<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{!-- Local CSS --}}
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8" />
    {{!-- Google Font --}}
    <link href="https://fonts.googleapis.com/css?family=Dekko&display=swap" rel="stylesheet">
    {{!-- JQuery --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Scrapage</title>
</head>

<body>
    {{{body}}}
</body>


{{!-- Local JS --}}
<script src="js/app.js"></script>

</html>