body {
    background-color: #122;
    color:#eee;
    font-family: Dekko, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.hidden {
    display:none;
}

.jumbotron {
    background-image:url("./bg.png");
    padding-top: 10px;
    padding-bottom:20px;
}

.card {
    max-width:16rem;
    display:inline-flex;
}

.nllogo {
    max-width:50%;
    min-width:200px;
}

.card-img-top {
    max-height:144px;
}

.card-text {
    font-size:0.8rem;
}

.category {
    color: #aaa;
}

.saved {
    background-color: #353;
}

.card-button {
    /* width:45px; */
    padding: 4px;
    font-size: 1.0rem;
}

#article-cards {
    text-align:center;
    display: inline-block;
    overflow: auto;
}

#scrape {
    background-color: #353;
    border: 3px solid #122;
    box-shadow: #000 2px 3px 10px;
    margin: 0 10px 0 0;
}

#clear {
    background-color: #e60012;
    border: 3px solid #660006;
    box-shadow: #000 2px 3px 10px;
}

/* MODAL */
#noteModal {
    color:#ddd;
    max-height: 50%;
    background-color: #122;
}

#title-input {
    width:100%;
    margin-bottom:15px;
}

#note-input {
    width:100%;
    height: 4rem;
    margin-bottom:15px;
}

#submit-note {
    margin-bottom:10px;
}
